
@media (min-width: 320px),(max-width: 320px) {
    .swiper {
        width: 240px;
        min-width: 0;
    }
   
    
   .swiper-slide {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 240px;
        height: 72px;
        background-color: white;
        margin: 16px 0 0 0;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
   }
   
    .text{
        padding-bottom: 16px;
        margin-right: 16px;
    }

    .text__desc {
        margin: 16px;
    }
    .wrapper__brand {
        display: none;  
    }
}

@media (min-width: 500px) {
   
    .swiper {
        display: none;
    }
    .wrapper__brand {
        display: flex;  
    }
    .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        display: none;
       }
    .text__desc {
    margin: 16px 0 16px 32px;
    }
       
       
}

@media (max-width: 768px) {
    .brand-tbl {
        display: none;
    }
}
@media (min-width: 767px) {
   
    .wrapper__brand {
        margin-left: 24px;
    }
    
    .brand {
        margin-right: 24px;
        width: 224px;
    }

    .brand-tbl {
        display: flex;
    }
}

    .brand {
        margin: 16px 20px 0 0 ;
        width: 212px;
    }



@media (min-width: 800px) {
    .wrapper__brand {
        margin-left: 32px;
    }
    .brand {
        margin-right: 24px;
        width: 232px;
    }
    .brand-tbl {
        display: flex;
    }
}


@media (min-width: 830px) {
    .brand {
        width: 240px;
    }
    .brand-tbl {
        display: flex;
    }
}

