* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #f8f8f8;
    width: 100%; 
}

.section {
    max-width: 100vw;    
}
.line {
    display: block;
    width: 100%;
    height: 1px;
    background: #d9fff5;;
}
.line::before {
    width: 100%;
    height: 1px;
    background: red;
}

.text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #7e7e82;
    height: 56px;
    padding-top: 10px;
    width: 100%; 
    padding-right: 32px;
    background: linear-gradient(to right, #f8f8f8 15%, white 100%);
}
.text__desc {
    width: 100%; 
    margin: 16px 0 16px 32px;
}

.wrapper__brand {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 32px;
    min-width: 0;
}

.brand {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 240px;
    height: 72px;
    background-color: white;
    margin: 16px 32px 0 0 ;
    box-sizing: border-box;
    text-align: center;
    align-items: center;

    min-width: 0;
    
    
}
.brand-more {
    display: flex;
}

.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {

    top: 185px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #ddd;
}




.brand__img {
    margin-left: 16px;
}
.brand__weiter::before {
content: url(../img/go.svg);
display: inline-block;
align-content: center;
text-align: center;
margin-right: 16px;
}

.brand-more {
    display: none;
}





.lease__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #f8f8f8;
    margin: 46px 0 34px 32px;
    width: 130px;
    height: 24px;
    cursor: pointer;
}
.moreactive {
    display: none;
}

.lease__clouse {
    display: none;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #f8f8f8;
    margin: 46px 0 34px 32px;
    width: 75px;
    height: 24px;
    cursor: pointer;
}
.clouseactive {
    display: flex;
}

.lease__open-clouse {
    background-image: url(../img/expand.svg);
    width: 24px;
    height: 24px;
}


.lease__open-more {
    background-image: url(../img/expand.svg);
    width: 24px;
    height: 24px;
    transform: scale(-1);
}


.lease__text-more  {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #1b1c21;
}
.lease__text-clouse {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #1b1c21;
}


